apiVersion: v1
kind: Service
metadata:
  name: nginx-deployment1
  namespace: {{ .Values.namespace }}
  labels:
    app: nginx
    shubh: cache
spec:
  type: {{ .Values.service.type }}
  ports:
  {{- range .Values.service.ports }}
    - port: {{ .port }}
      targetPort: {{ .targetPort }}
      name: {{ .name }}
  {{- end }}
  selector:
    app: nginx
