apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-todo-app
  # namespace: shubh-service
  labels:
    app: {{ .Release.Name }}-todo-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-todo-app
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-todo-app
    spec:
      containers:
          - name: todo-app
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            ports:
              - containerPort: 80
            resources: {{ toYaml .Values.resources | indent 12 }}
