apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-todo-app
  namespace: {{ .Values.namespace.name | default "todo-app" }}
  labels:
    app: {{ .Release.Name }}-todo-app
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
  selector:
    app: {{ .Release.Name }}-todo-app
