replicaCount: <+configFile.getAsString("replicaConfig")>
namespace: default
image:
  repository: nginx
  tag: stable
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
  test: shubh
  ports:
    - port: 80
      targetPort: 8080
      name: http
    - port: 443
      targetPort: 8443
      name: https
    - port: 960
      targetPort: 9000
      name: api
